.btn-primary {
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2.67px;
    padding: 0.5625rem 1.5625rem;
}