.header-slide {
    position: relative;
}


/* book now button on homepage header */
.homepage--book-now {

    .book-now-closed {
        top: 200px;
    }

}

/* book now button on header*/
.book-now-closed {
    position: absolute;
    right: 0;
    bottom: -15px;
}

.contact {

    a {
        color: #fff;
    }
    a:hover {
        color: #fff;
    }
}

.brown-background {
    background-color: #FAF7EF;
}

.display-1, .display-2, .display-3 {
    font-family: "Avenir Next", sans-serif;
    font-size: 36px;
    color: #3C474B;
    letter-spacing: 10px;
    text-decoration: underline;
}


    
    .display-4 {
        color: #AE8F63;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 4px;
    } 


.lead {
    font-weight: 500;
}


.custom-display-4 {
    color: #3C474B;
    font-size: 20px;
    letter-spacing: 5.56px;
    line-height: 27px;
    text-decoration: underline;
}

/* Custom Casa Timis button style */
.btn-casa-timis {
    background-color: #AE8F63;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2.67px;
    padding: 9px 25px;
}

.btn-casa-timis:hover {
    background-color: #AE8F63;
    color: #fff;
}