@import "sections/despre";
@import "sections/podgorie";
@import "sections/reviews";
@import "sections/evenimente";
@import "sections/crama";
@import "sections/apartament";
@import "sections/contact";

/* Restaurant slider button */
.owl-item {

    .btn-casa-timis {
        margin-top: -25px;
    }

}


.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #AE8F63;
}


/*----------  slider arrow style  ----------*/
.section {

    .owl-prev,
    .owl-next {
        font-size: 8rem !important;
        font-weight: 100 !important;
        color: #AE8F63 !important;
    }

    

}

.owl-theme .owl-dots .owl-dot:focus {
    outline-color: #fff;
}

/* noutati.html */
.custom-small-font {
    color: #ae8f63;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 2.33px;
}


/* .section default style */
.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}



/*----------  min-width: 520px  ----------*/
@media (min-width: 520px) {
    .section {
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            margin-top: -150px;
        }

        .owl-prev:focus,
        .owl-next:focus {
            outline: none;
        }

        .owl-prev {
            left: 6.2rem;
        }

        .owl-next {
            right: 6.2rem;
        }
    }
}