@import "sections/despre";
@import "sections/podgorie";
@import "sections/reviews";
@import "sections/evenimente";
@import "sections/crama";
@import "sections/apartament";

/* Restaurant slider button */
.owl-item {

    .btn-casa-timis {
        margin-top: -25px;
    }

}


.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #AE8F63;
}

.owl-theme .owl-dots .owl-dot:focus {
    outline-color: #fff;
}

/* noutati.html */
.custom-small-font {
    color: #ae8f63;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 2.33px;
}